.app-container {
  display: flex;
}
.content {
  width: 100%;
}

.sidebar{
  min-height: 1000px;
}

.post-card{
  margin : 20px 50px;
}
.hashtag{
  margin: 0px 3px;
  font-weight: bold;
}
.reactions{
  margin-top: 15px;
  font-weight: bold;
}